<main>
  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>

  <div class="align-items-center bg-white">
    <h1 class="text-center px-2 py-4 m-0">Kamala's Fact Search Engine</h1>

    <div class="container">
      <div class="row align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-5 pe-4 pe-lg-5 mt-4 mb-4 my-lg-0">
          <h2>Who is Kamala?</h2>
          <p class="fst-italic my-4"><b>Kamala Devi Harris</b> is the first woman, the first Black person, and the first Asian-American person elected vice president of the United States.</p>
          <p class="mb-3">Learn more about Kamala and her background:</p>
          <div class="fs-7 d-flex flex-column flex-sm-row justify-content-between flex-wrap flex-lg-column">
            <a class="mb-3 mb-sm-0 mb-lg-3" href="https://www.whitehouse.gov/administration/vice-president-harris/" rel="noopener" target="_blank" title="Read More on Whitehouse.gov">Whitehouse.gov <i class="bi bi-box-arrow-in-up-right"></i></a>
            <a class="mb-3 mb-sm-0 mb-lg-3 mx-sm-3 mx-lg-0" href="https://bioguide.congress.gov/search/bio/H001075" rel="noopener" target="_blank" title="Read More on Congress.gov">Congress.gov <i class="bi bi-box-arrow-in-up-right"></i></a>
            <a class="mb-3 mb-sm-0 mb-lg-3" href="https://en.wikipedia.org/wiki/Kamala_Harris" rel="noopener" target="_blank" title="Read More on Wikipedia.org">Wikipedia.org <i class="bi bi-box-arrow-in-up-right"></i></a>
          </div>  
        </div>
        <img class="col-12 col-lg-7 g-0" src="https://www.gannett-cdn.com/presto/2019/12/05/USAT/751f29ad-47cd-4791-9506-d4b6b846b53e-KamalaHarris.jpg" alt="Kamala Harris" />
      </div>
    </div>
  </div>

  <h3 class="text-center container mt-4">Search through the false claims below to find out the truth Today!</h3>

  <%= form_tag myths_path, class: "container form-inline d-flex border-bottom my-4 pb-2", :method => 'get' do %>
    <label class="visually-hidden" for="searchInput">Search</label>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], :id => 'searchInput', :class => 'form-control form-control-lg', :placeholder => "Search", :aria_label => "Search" %>
      <%= button_tag "", name: nil, :class =>'fas fa-search' %>
    </div>
  <% end %>

  <div class="container">
    <hr>
    <% if @myths.blank? %>
      <div id="error_explanation" class="error-container">
        <h3 class="text-center lh-base mb-3">There are no results with that criteria.<br>Please try again.</h3>
        <ul>
          <li>Make sure all words are spelled correctly.</li>
          <li>Try different keywords.</li>
          <li>Try more general keywords.</li>
          <li>Try fewer keywords.</li>
        </ul>
      </div>
    <% end %>

    <% if @myths.present? %>
      <div class="d-flex flex-row justify-content-end my-3">
        <% if user_signed_in?%>
          <%= link_to 'Add New Myth', new_myth_path, class: "edit" %>
        <% end %>
      </div>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <% @myths.each do |myth| %>
          <div class="col">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="m-0"><i class="bi bi-exclamation-octagon-fill danger"></i> FALSE CLAIM</h5>
              </div>
              <div class="card-body">
                <h6 class="mb-2 text-muted"><%= myth.false_content %></h6>
              </div>
              <div class="card-footer">
                <%= link_to "Learn the Truth!", myth, class: "btn btn-primary d-block" %>
                <% if user_signed_in?%>
                  <div class="d-flex justify-content-between mt-2 px-2 py-1">
                    <%= link_to "Delete", myth_path(myth), method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %>
                    <%= link_to "Edit Myth", edit_myth_path(myth), class: "edit" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>
</main>
