<main class="container">
  <div class="row">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>

  <h1 class="text-center">Kamala's Fact Search Engine</h1>

  <img class="w-100 rounded" src="https://www.gannett-cdn.com/presto/2019/12/05/USAT/751f29ad-47cd-4791-9506-d4b6b846b53e-KamalaHarris.jpg?crop=3703,2083,x0,y188&width=3200&height=1801&format=pjpg&auto=webp" alt="kamala" />

  <div class="container external-link-container my-4 border-bottom">
    <div class="row">
      <div class="col">
        <a href="https://en.wikipedia.org/wiki/Kamala_Harris" rel="noopener" target="_blank" title="Read More on Wikipedia.org">Who is Kamala Harris? <i class="bi bi-box-arrow-in-up-right"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="https://www.whitehouse.gov/administration/vice-president-harris/" rel="noopener" target="_blank" title="Read More on Whitehouse.gov">Vice President (2021-) <i class="bi bi-box-arrow-in-up-right"></i></a>
      </div>
      <div class="col">
        <a href="https://bioguide.congress.gov/search/bio/H001075" rel="noopener" target="_blank" title="Read More on Congress.gov">Senator (2017-2021) <i class="bi bi-box-arrow-in-up-right"></i></a>
      </div>
    </div>  
  </div>

  <div class="container">
    <h2 class="text-center">Search through the lies and the smears to discover the truth today!</h2>

    <% if @myths.blank? %>
      <div id="error_explanation">
        <h2>cant find any search results with that criteria</h2>
        <h2>TRY AGAIN </h2>
        Suggestions:
        <ul>
        <li>Make sure all words are spelled correctly.</li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
        <li>Try fewer keywords.</li>
        </ul>
        <a href ="/">back</a>
      </div>
    <% end %>

    <% if user_signed_in?%>
      <%= link_to 'Create Myth', new_myth_path %><br> <br>
    <% end %>
            
    <% if @myths.present? %>
      <h3>FALSE STATEMENTS:</h3>
      <% @myths.each do |myth| %>
          <p><%= link_to myth.false_content, myth %>
          <% if user_signed_in?%>
          <%= link_to "Edit", edit_myth_path(myth) %>
          <%= link_to "Delete", myth_path(myth), method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %>
          <% end %>
          </p>
      <%end%>
    <% end %>
  </div>
</main>