<h2>Kamala's Fact Search Engine</h2>
<h4>Search through all the lies and the smears and find out the truth today</h4>
<img src="https://www.gannett-cdn.com/presto/2019/12/05/USAT/751f29ad-47cd-4791-9506-d4b6b846b53e-KamalaHarris.jpg?crop=3703,2083,x0,y188&width=3200&height=1801&format=pjpg&auto=webp" alt="kamala"></img>
<div class="search">
<%= form_tag myths_path, :method => 'get' do %>   
    <%= text_field_tag :search, params[:search], :class => 'search-bar'%>   
    <%= submit_tag "Search Claims", name: nil, :class => 'search-button' %> 

<% end %>
<div>

<% if @myths.blank? %>
<div id="error_explanation">
  <h2>cant find any search results with that criteria</h2>
  <h2>TRY AGAIN </h2>
  Suggestions:
<ul>
<li>Make sure all words are spelled correctly.</li>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
<li>Try fewer keywords.</li>
</ul>
  <a href ="/">back</a>
</div>
<% end %>
<br>

<% if user_signed_in?%>
<%= link_to 'Create Myth', new_myth_path %><br> <br>
<% end %>
        
<% if @myths.present? %>
<h5>FALSE STATEMENTS:</h5>
<% @myths.each do |myth| %>
    <h3><%= link_to myth.false_content, myth %>
    <% if user_signed_in?%>
    <%= link_to "Edit", edit_myth_path(myth) %>
    <%= link_to "Delete", myth_path(myth), method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %>
    <% end %>
    </h3>
<%end%>
<% end %>

<style>
h3 a{
  background-color: white;
  color: black;
  border: 2px solid white ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;

}
h3 a:hover, h3 a:active{
  background-color: tan;
  color: white;
} 
       
.search {
  padding: 2em;
  margin: 0 auto;
  width: 541px;
  height: 31px;
 
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.search-bar{
  width: 541px;
  height: 31px;
 

}

input[type="search"] {
  border: none;
  whitespace: wrap;
  border-radius: 5px 5px 5px 5px;
	background: #E9E9E9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 1.1em;
	text-decoration: none;
	line-height: normal;
	max-height: 51;
  
  flex: 2 0 250px;
}

input[type="search"]:focus {
  background: Thistle;
  color: white;
  letter-spacing: .1em;
  transition: background 400ms ease-in-out;
  outline: none;
}

.search-button {
  flex: 1 0 90px;
  
  max-height: 3em;
  font-size: 1.1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-radius: 0px 5px 5px 0px;
	background: silver;
  color: white;
  border: none;
  padding: 0.35em 0.75em;
  cursor: pointer;

}
.search-button:hover {
  background: skyblue;
}


  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  


      
</style>