<main class="container">
  
  <% if @myth.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@myth.errors.count, "error") %> prohibited this myth from being saved:</p>
      <ul>
      <% @myth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li> <br>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mt-5">
    <div class="card-header">
      <h5 class="m-0"><i class="bi bi-exclamation-octagon-fill danger"></i> FALSE CLAIM</h5>
    </div>
    <%= form_for(@myth) do |f| %>
      <div class="card-body">
        <%= f.label :new_myth_content, class: "visually-hidden" %>
        <%= f.text_area :false_content, class: "form-control", placeholder: "Add false content here." %>
      </div>
      <div class="card-footer">
        <%= f.submit "Save Myth", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>

  <div class="row my-5">
    <a href="/">Cancel</a>
  </div>
</main>