<div class="myth">
<div>FALSE STATEMENT: </div>
<div><b><%= @myth.false_content %> </b></div><br>

<% if user_signed_in?%>
<a href="/myths/<%= @myth.id %>/facts/new">Add a new fact</a>
<% end %>
<div>Facts:</div>
<% @myth.facts.each do |fact| %>
    <p class="t-content"> 
     <%= fact.true_content %>
    <br>
    <a href="<%=fact.receipt_url %>">Receipt</a> 

    <% if user_signed_in?%>
    <%= link_to "Delete", [@myth, fact], method: :delete, class: "destroy", data: {confirm: "Are you sure?"} %>
    <% end %>
    </p>
<% end %>
<br>
<br>
<a href="/">Back</a>
</div>

<style>

.myth{
  padding: 3em;
  margin: 0 auto;
  max-width: 541px;
  max-height: 31px;
  position: relative;
}
.t-content {
  background-color: white;
  border: 2px solid white ;
  padding: 10px 20px;
  text-align: center;
  border-radius: 25px;
}
button:hover{
background: skyblue;
}
</style>