<footer>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <small>&copy; 2020, Queen Workx </small>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <span class="navbar-text">
              Logged in as <%= current_user.email %>
            </span>
            <li class="nav-item">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
            </li> |
          <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </li> 
          <% else %>
          <%# signup link commented out--  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</footer>
